/* ----------------------------- PSEUDO CANVAS (BACKGROUND) --------------------------------------------------------- */

.pseudoCanvas {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  max-width: 500px;
  width: 100%;
  height: 500px;
  border-radius: 3px;
  background-color: transparent;
  transform: translateX(-50%);
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: transparent;
  border-radius: 3px;
  padding: 1px;
}

/* ---------------------------- BOOK CANVAS ---------------------------------------------------------- */

.canvas {
  position: relative;
  margin: auto;
  width: 100%;
  height: 500px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
}




/* ------------------------------ NFT BOOK CSS -------------------------------------------------------------- */

.bookContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  z-index: 2;
  /* cursor: pointer; */
}

@keyframes initAnimation-id {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-25deg);
  }
}

.bookContainer .book {
  width: 281px;
  height: 430px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-25deg);
  transition: transform 1s ease;
  animation: 1s ease 0s 1 initAnimation-id;
}

/* .bookContainer .book:hover {
  transform: rotateY(0deg);
} */

.bookContainer .book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 430px;
  transform: translateZ(17.5px);
  background-color: #01060f;
  border-radius: 1px 3px 3px 1px;
  box-shadow: 5px 5px 20px #777777;
}

.bookContainer .book::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 3px;
  width: 33px;
  height: 424px;
  transform: translateX(260.5px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #f0ede5 0%,
    #eee6c9 5%,
    #f0ede5 10%,
    #eee6c9 15%,
    #f0ede5 20%,
    #eee6c9 25%,
    #f0ede5 30%,
    #eee6c9 35%,
    #f0ede5 40%,
    #eee6c9 45%,
    #f0ede5 50%,
    #eee6c9 55%,
    #f0ede5 60%,
    #eee6c9 65%,
    #f0ede5 70%,
    #eee6c9 75%,
    #f0ede5 80%,
    #eee6c9 85%,
    #f0ede5 90%,
    #eee6c9 95%,
    #f0ede5 100%
    );
}

.bookAfter {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 281px;
  height: 430px;
  transform: translateZ(-17.5px);
  border-radius: 0 3px 3px 0;
  box-shadow: -2px 0 20px 2px #aaaaaa;
}

/* .bookCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */